<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VR Retreat - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VrRetreat.WebApp.styles.css" asp-append-version="true" />
</head>
<body class="vrh-page-bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark vrh-navbar-bg box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VR Health</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

@if (ViewBag.ShowFooter ?? true)
{
    <footer id="layout-footer" class="footer text-muted">
        <p>vrstop.health is an officially supported instance<br/> of vrretreat software licensed under the<br/> <a href="https://github.com/control-net/vr-retreat/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">AGPL-3.0 License</a></p>
        <p>You can view its source code in our <a href="https://github.com/control-net/vr-retreat" target="_blank" rel="noopener noreferrer">official GitHub repository</a></p>
        <p>You can contact the site's owner <a href="mailto:contact@vrretreat.aleeas.com?subject=Hey VR-Retreat team!" target="_blank" rel="noopener noreferrer">here</a></p>
    </footer>
}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
