@using Microsoft.AspNetCore.Identity
@using VrRetreat.Infrastructure.Entities
@inject SignInManager<VrRetreatUser> SignInManager
@inject UserManager<VrRetreatUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Settings" class="nav-link btn btn-link text-light">Settings</a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <img class="vrh-navbar-img" src="@(User.Claims.FirstOrDefault(c => c.Type == "avatarurl")?.Value ?? "/img/anon.webp")" />
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
