@using Microsoft.AspNetCore.Identity
@using VrRetreat.Infrastructure.Entities
@inject SignInManager<VrRetreatUser> SignInManager
@inject UserManager<VrRetreatUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <img class="vrh-navbar-img" src="@(User.Claims.FirstOrDefault(c => c.Type == "avatarurl")?.Value ?? "/img/anon.webp")" />
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="Logout">
            <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
