@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="display: flex; flex-flow: column; align-items: center; padding-top: 3em;">
    <h1>Whoa! That was not supposed to happen.</h1>
    <p>We appologize for the inconvenience. We would appreciate if you could please <a href="https://github.com/control-net/vr-retreat/issues/new?assignees=&labels=&template=bug_report.md&title=">tell us what happened</a> so that we can fix this.</p>
    <img src="~/img/error.webp" class="mt-2" />
    <h2 class="text-danger mt-4">An error occurred while processing your request.</h2>
</div>
