@model VrChatBioCodeValidationModel
@{
    ViewData["Title"] = "VRC Account Linking";
}

<div class="container align-items-center flex-column d-flex">
    <div class="vrh-breadcrumbs mt-5 mb-4">
        <div class="vrh-bc-primary"></div>
        <div class="vrh-bc-primary"></div>
        <div class="vrh-bc-light"></div>
    </div>

    <p class="vrh-lead my-4">Please put the following 5 digit code into your VRChat Bio</p>

    <pre>@Model?.BioCode</pre>

    <div class="vrh-ua vrh-mt-xxl">
        <div class="vrh-ua-icon">?</div><span class="vrh-footnote-text"> Why is this necessary?</span>
        <div class="vrh-ua-content" style="top: -11em;">
            <p>We want to make sure you own the account you’re currently linking.</p>
            <p>You can safely remove the code after this step is successfully verified.</p>
        </div>
    </div>

    <form asp-action="VrChatBioCodeValidation" class="vrh-form-wide">
        <input asp-for="BioCode" type="hidden"/>
        <div asp-validation-summary="All" class="text-danger mt-3"></div>
        <p id="tip" style="visibility: hidden;">Make sure you include “@Model?.BioCode” anywhere in your Bio</p>
        <div class="form-group">
            <input type="submit" value="Verify" id="submit-btn" class="btn btn-primary vrh-btn-primary vrh-btn-full-width vrh-btn-bulky" />
            <a asp-controller="AccountLink" asp-action="ClaimVrChatName" class="btn vrh-btn-primary vrh-btn-full-width p-3 vrh-btn-danger-1 btn-lg px-4 me-sm-3 mt-3">Cancel and Link a Different Account</a>
        </div>
    </form>
</div>

@section Scripts
{
    @if(!Model?.IsValid ?? true)
    {
<script>
    setInterval(onSecondElapsed, 1000);
    let cooldownLeft = 60;
    let btn = document.getElementById('submit-btn');

    document.getElementById('tip').style.visibility = 'visible';
    btn.disabled = true;

    function onSecondElapsed() {
        if(cooldownLeft <= 0)
        {
            btn.disabled = false;
            btn.value = 'Verify';
            return;
        }

        btn.value = 'Verify (' + cooldownLeft + ' seconds)';
        cooldownLeft--;
    }
</script>
    }
}
