@{
    ViewData["Title"] = "Home";
}

<h2>Thank you for making an Account so early!</h2>

<p>At this stage of development, there are no more features for you to explore.</p>

<p>Please check back at a later date...</p>
