@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <div class="text-center">
            <a asp-controller="Account" asp-action="Register" class="btn vrh-btn-primary btn-lg px-4 me-sm-3">Link Your VRChat Account</a>
    </div>


    <h2 class="vrh-subtitle mb-4">The Linking Process</h2>

    <div>
        <div class="vrh-landing-point">
            <div class="vrh-landing-bullet">
                <span>1</span>
            </div>
            <div class="vrh-title-and-subtitle">
                <span>Provide your VRChat displayname</span>
                <span>this may be different than your vrstop.health username</span>
            </div>
        </div>
        <div class="vrh-landing-point">
            <div class="vrh-landing-bullet">
                <span>2</span>
            </div>
            <div class="vrh-title-and-subtitle">
                <span>Accept the website’s friend request</span>
                <span>this is because VRChat only shows the last login date for friends</span>
            </div>
        </div>
        <div class="vrh-landing-point">
            <div class="vrh-landing-bullet">
                <span>3</span>
            </div>
            <div class="vrh-title-and-subtitle">
                <span>Put a short generated code in your VRChat bio</span>
                <span>this is to make sure you really are linking your own account</span>
            </div>
        </div>
    </div>
</div>
