@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello, person who I do not know... You're here for the challenge right?</h1>

<p>Please do not hesitate and <a asp-controller="Account" asp-action="Register">Make an account</a>!</p>

<p>Already have an account? <a asp-controller="Account" asp-action="Login">Log in</a>!</p>
