<div class="container align-items-center flex-column d-flex">
    <div class="vrh-breadcrumbs mt-5 mb-4">
        <div class="vrh-bc-primary"></div>
        <div class="vrh-bc-primary"></div>
        <div class="vrh-bc-primary"></div>
    </div>

    <h1 class="display-4 fw-bold mb-3">You're all set!</h1>

    <p class="vrh-lead my-1">Thank you for linking your VRChat account, that's it for now.</p>

    <p class="vrh-lead fw-bold my-1">Come back on Friday (December 31, 2021) to start the challenge.</p>
</div>
