<div class="container align-items-center flex-column d-flex">
    <div class="vrh-breadcrumbs my-5">
        <div class="vrh-bc-primary"></div>
        <div class="vrh-bc-primary"></div>
        <div class="vrh-bc-primary"></div>
    </div>

    <h1 class="display-6 fw-normal mb-3">Ready for the Challenge?</h1>

    <p class="vrh-lead my-1">Once you start the challange, you may not log into VRChat starting 11AM (UTC) on January 1, 2022</p>

    <p class="vrh-lead fw-bold my-1">Logging into the vrchat.com website DOES count as you logging in</p>

    <a asp-action="InitChallenge" class="btn vrh-btn-primary btn-lg px-4 me-sm-3 mt-5 px-5">Start the Challenge</a>
</div>
