html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .vhr-account-actions {
        width: 40%;
    }

    .vhr-security {
        width: 50%;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    z-index: 3;
}

body {
    margin-bottom: 60px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 60px;
    background-color: #262626;
    z-index: 99;
}

footer p {
    margin: 0;
    line-height: normal;
    font-size: 0.8em;
    align-self: center;
}

.vrh-navbar-bg {
    background-color: #353535;
}

.vrh-page-bg {
    background-color: #181818;
    color: white;
}

.vrh-navbar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.vrh-hero-wrapper {
    background-image: url('../img/hero.webp');
    background-size: cover;
    background-position: center;
    padding: 10em 0;
}

.vrh-btn-primary {
    background-color: #427341;
    color: white;
    border: none;
}

    .vrh-btn-primary:hover {
        background-color: #244023;
        color: #eee;
    }

.vrh-btn-secondary {
    background-color: #373737;
    color: white;
}

    .vrh-btn-secondary:hover {
        background-color: #252525;
        color: #eee;
    }

.vrh-btn-warning-1 {
    background-color: #6a8420;
    color: white;
    border: none;
}

    .vrh-btn-warning-1:hover {
        background-color: #59701c;
        color: #eee;
    }

.vrh-btn-warning-2 {
    background-color: #846820;
    color: white;
    border: none;
}

    .vrh-btn-warning-2:hover {
        background-color: #705719;
        color: #eee;
    }

.vrh-btn-danger-1 {
    background-color: #843820;
    color: white;
    border: none;
}

    .vrh-btn-danger-1:hover {
        background-color: #77321d;
        color: #eee;
    }

.vrh-btn-danger-2 {
    background-color: #842020;
    color: white;
    border: none;
}

    .vrh-btn-danger-2:hover {
        background-color: #681a1a;
        color: #eee;
    }

.vrh-subtitle {
    margin-top: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid #8a8888;
    padding-bottom: 5px;
}

.vrh-text-bolder {
    font-weight: bold;
    font-size: 1.5rem;
}

.vrh-text-success {
    color: #039e00;
    font-weight: bold;
}

.vrh-text-danger {
    color: #c30000;
    font-weight: bold;
}

.vrh-text-larger {
    font-size: 1.5rem;
}

.vrh-text-larger-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #a8a8a8;
    text-align: center;
}

.vrh-screenshot {
    width: 50%;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.vrh-landing-bullet {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #417340;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.vrh-landing-point {
    display: flex;
    align-items: center;
    margin: 2em;
}

.vrh-title-and-subtitle {
    display: flex;
    flex-direction: column;
}

    .vrh-title-and-subtitle > span:first-child {
        font-size: 20px;
    }

    .vrh-title-and-subtitle > span:nth-child(2) {
        font-style: italic;
    }

.vrh-landing-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

    .vrh-landing-footer > h3 {
        font-weight: bold;
        margin-bottom: 1em;
        margin-top: 1.5em;
    }

.vrh-bg-registration {
    background-image: url('../img/bg-2.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vrh-bg-login {
    background-image: url('../img/bg-1.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vrh-registration-card {
    background-color: #181818;
    padding: 1em;
    width: 50%;
    min-width: 30em;
    max-width: 40em;
}

@media screen and (max-width: 500px) {
    .vrh-registration-card {
        background-color: #181818;
        padding: 1em;
        width: 100%;
    }
}


.vrh-lead {
    text-align: center;
    font-size: 20px;
}

.vrh-input {
    background-color: #121212;
    border: none;
    border-bottom: 3px solid #535252;
    padding: 1em;
    color: white;
    font-size: 20px;
    border-radius: 0;
    margin-bottom: 5px;
}

    .vrh-input[aria-invalid="true"] {
        border-bottom: 3px solid #dc3538;
    }

        .vrh-input[aria-invalid="true"]:focus {
            border-bottom: 3px solid #dc3538;
        }

    .vrh-input:focus {
        background-color: #121212;
        border-bottom: 3px solid #535252;
        color: white;
    }

pre {
    background-color: #121212;
    padding: 1em;
    color: white;
    font-size: 20px;
}

.vrh-label {
}

.vrh-form-group {
    margin-bottom: 1.2em;
}

.vrh-validation-error {
}

.vrh-btn-full-width {
    width: 100%;
}

.vrh-btn-bulky {
    padding: 0.7em;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.vrh-footnote-text {
    color: #939393;
}

.vrh-ua {
    position: relative;
    display: flex;
    align-items: center;
    width: 55%;
    cursor: help;
}

    .vrh-ua .vrh-ua-content {
        visibility: hidden;
        width: 30em;
        background-color: #2c2c2c;
        color: #fff;
        padding: 1em;
        position: absolute;
        z-index: 2;
        top: -23em;
    }

        .vrh-ua .vrh-ua-content::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 10%;
            margin-left: -5px;
            border-width: 1em;
            border-style: solid;
            border-color: #2c2c2c transparent transparent transparent;
        }

    .vrh-ua:hover .vrh-ua-content {
        visibility: visible;
    }

.vrh-ua-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    color: #939393;
}

.vrh-mt-xxl {
    margin-top: 10em;
}

.vrh-breadcrumbs {
    display: flex;
    justify-content: space-evenly;
}

.vrh-breadcrumbs > div {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #727272;
    margin: 0 .5rem;
}

.vrh-bc-dark { background-color: #383737 !important; }
.vrh-bc-primary { background-color: #417340 !important; }
.vrh-bc-light { background-color: #727272 !important; }

.vrh-form-wide {
    width: 50%;
    min-width: 30rem;
}

.vrh-btn-primary:disabled {
    background: #343434;
    color: #929292;
}

.vrh-avatar-large {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.vrh-avatar-medium {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.vrh-modal {
    background-color: #181818;
}

.month {
    max-width: 400px;
    margin: 20px auto;
}

.week {
    display: -webkit-box;
    display: flex;
    height: 57px;
}

.day {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 5px;
    background-color: #2c2c2c;
    border-radius: 15px;
    margin: 2px;
}

.day-tbd {
    background-color: #202020;
}

.day-success {
    background-color: #417340;
}

.day-failed {
    background-color: #661717;
}
