html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.vrh-navbar-bg {
    background-color: #353535;
}

.vrh-page-bg {
    background-color: #181818;
    color: white;
}

.vrh-navbar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
